body, html {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  height: 100vh; 
}



.content {
  flex: 1;
  width: 100%; 
}


.profile {
  width: 100%; 
  
}

/*PostPage css*/
.post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #3ca77a;

}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  
}

.thumbnail-container img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #4a2020;
  border-radius: 5px;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
